body {
  background-color: whitesmoke; }
  body h1 {
    color: black; }
  body a {
    color: white; }
  body a:hover {
    color: red; }
  body .footer-text {
    font-size: small; }
  body .over-navigation {
    background-image: url("../img/programming_banner.jpg");
    background-size: cover;
    height: 200px; }
